.container-for-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: auto;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px;
    column-gap: 20px;
}

.custom-title-font {
    font-family: Bradley Hand, cursive;
    color:rgb(10, 82, 82);
    font-size: 60px;
}

